<div class="underSplash"></div>

<div class="splash-holder">
	<ul class="splash">
	  <li><a class="active" href="#home"></a></li>
	  <li class="right"><a href="#about">About</a></li>
	  <li class="right"><a href="/login">Login</a></li>
	  <li class="right"><a href="/signup">SignUp</a></li>
	</ul>

	
	<div class="splash-mid">
		

		<div class="about-holder">
			<div class="about">
				<b>Detail Oriented TMS.</b><br>
				Users can create and manage tasks,
				something about the personalized pages, drawings, due dates, assigning to, etc.
			</div>
		</div>


		<div class="form-holder">
		  
		  <form action="/signup" method="POST">
		      <div class="container">
		        <label><b>Name</b></label>
		        <input type="text" placeholder="Enter Name" name="name" required>
		        <label><b>Email</b></label>
		        <input type="text" placeholder="Enter Email" name="email" required>
		        <label><b>Password</b></label>
		        <input type="password" placeholder="Enter Password" name="password" required>
		        <button type="submit">Sign Up</button>
		      </div>
		  </form>

		</div>

	</div>

</div>
