<div class="underSplash"></div>

<div class="splash-holder">
	<ul class="splash">
	  <li><a class="active" href="#home"></a></li>
	  <!-- <li class="right"><a href="#about">About</a></li> -->
	  <li class="right"><a href="/login">Login</a></li>
	  <li class="right"><a href="/signup">SignUp</a></li>
	</ul>

	
	<div class="splash-mid">
		
		<div class="about-holder">
			<div class="about">
				<b>Detail Oriented TMS</b><br>
				
				Our easy to use task & Workflow Management Platform will help you maximize productivity and Empower your team.

			</div>
		</div>


		<div class="form-holder">
		  
		  <form action="/signup" method="POST">
		      <div class="container">
		        <label><b>Name</b></label>
		        <input type="text" placeholder="Enter Name" name="name" required>
		        <label><b>Email</b></label>
		        <input type="text" placeholder="Enter Email" name="email" required>
		        <label><b>Password</b></label>
		        <input type="password" placeholder="Enter Password" name="password" required>
		        <button type="submit">Sign Up</button>
		      </div>
		  </form>

		</div>

	</div>
</div>

<div class="splash-guru">
	<div class="guru-visual-holder">
		<div class="guru">

			<div class="guru-rotator">
				<!-- this part below is for IE -->
				<!--[if lt IE 9]><div class='circle-container lt-ie9'><![endif]-->
	<!--[if gte IE 9]><!-->
				<div class='guru-tasks-holder'><!--<![endif]-->
				    <a href="#" onclick="return false;" class='deg0'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-1994-02-c-thumb.jpg'></a>
				    <a href="#" onclick="return false;" class='deg90'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-1994-02-c-thumb.jpg'></a>
				    <a href="#" onclick="return false;" class='deg45'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-2005-37-a-thumb.jpg'></a>
				    <a href='#' onclick="return false;" class='deg135'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-2010-26-a-thumb.jpg'></a>
				    <a href='#' onclick="return false;" class='deg180'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-2004-27-a-thumb.jpg'></a>
				    <a href='#' onclick="return false;" class='deg225'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-1992-17-a-thumb.jpg'></a>
				    <a href='#' onclick="return false;" class='deg270'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-1992-17-a-thumb.jpg'></a>
				    <a href='#' onclick="return false;" class='deg315'><img src='http://imgsrc.hubblesite.org/hu/db/images/hs-2004-32-d-thumb.jpg'></a>
				</div>
			</div>


		</div>
		<div class="guru-shadow"></div>
	</div>
	<span>Work Smart!</span>
	Manage your time with our easy to learn application
</div>

<div class="splash-flag">
	(write something about how our task creator uses drawings, links, and other details to help you write down you task exactly how you want)
</div>

<div class="splash-flag">
	(flag waving style of logo)
</div>

<footer>
	(the footer with links to each of our githubs)
</footer>
