<div class ="splash-holder">

	<ul class="splash">
		<li><a class="active" href="#home"></a></li>
		<li class="right"><a href="/signup">sign up</a></li>
		<li class="right"><a href="/login">login</a></li>
		<li class="right"><a href="#about">about</a></li>
	</ul>

	<!--   <div class="imgcontainer">
	    <img src="/images/logo.PNG" alt="Avatar" class="avatar">
	  </div> -->

	<div class="splash-visual">
		<!-- <div class="cloud-object"></div> -->

		<!-- <div class="cloud-object"></div> -->
	</div>

	<h1>Welcome to TIKIT!</h1>

</div>

<div class="splash-info">
	<p>
		Tikit is a Task Management System. What makes Tikit unique is the visual details that can be attached to the tasks or sub-tasks.
	</p>
</div>

<div class="splash-SignUp">
	Sign up to Join the millions of users already using TIKIT to share their code, work together, and build amazing things.

	<button></button>
</div>
