<div class="underSplash"></div>
<h1>You are in home page</h1>
<div class="splash-holder">
	<ul class="splash">
	  <li><a class="active" href="#home"></a></li>
	  <!-- <li class="right"><a href="#about">About</a></li> -->
	  <li class="right"><a href="/login">Login</a></li>
	  <li class="right"><a href="/signup">SignUp</a></li>
	</ul>


	<div class="splash-mid">

		<div class="about-holder">
			<div class="about">
				<b>Detail Oriented TMS</b><br>

				Our easy to use task & Workflow Management Platform will help you maximize productivity and Empower your team.

			</div>
		</div>


		<div class="form-holder">

		  <form action="/signup" method="POST">
		      <div class="container">
		        <label><b>Name</b></label>
		        <input type="text" placeholder="Enter Name" name="name" required>
		        <label><b>Email</b></label>
		        <input type="text" placeholder="Enter Email" name="email" required>
		        <label><b>Password</b></label>
		        <input type="password" placeholder="Enter Password" name="password" required>
		        <button type="submit">Sign Up</button>
		      </div>
		  </form>

		</div>

	</div>
</div>

<div class="splash-guru">
	<div class="guru-visual-holder">
		<div class="guru">

			<div class="guru-rotator">
				<!-- this part below is for IE -->
				<!--[if lt IE 9]><div class='circle-container lt-ie9'><![endif]-->
	<!--[if gte IE 9]><!-->
				<div class='guru-tasks-holder'><!--<![endif]-->
				    <a href="#" onclick="return false;" class='deg0 fa fa-trash'><i class="fa fa-trash fa-3x" aria-hidden="true"></i></a>
				    <a href="#" onclick="return false;" class='deg90'><i class="fa fa-briefcase fa-3x" aria-hidden="true"></i></a>
				    <a href="#" onclick="return false;" class='deg45'><i class="fa fa-github-alt fa-3x" aria-hidden="true"></i></a>
				    <a href='#' onclick="return false;" class='deg135'><i class="fa fa-pencil fa-3x" aria-hidden="true"></i></a>
				    <a href='#' onclick="return false;" class='deg180'><i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i></a>
				    <a href='#' onclick="return false;" class='deg225'><i class="fa fa-building fa-3x" aria-hidden="true"></i></a>
				    <a href='#' onclick="return false;" class='deg270'><i class="fa fa-glass fa-3x" aria-hidden="true"></i></a>
				    <a href='#' onclick="return false;" class='deg315'><i class="fa fa-cutlery fa-3x" aria-hidden="true"></i></a>
				</div>
			</div>


		</div>
		<div class="guru-shadow"></div>
	</div>
	<span>Work Smart!</span>
	Manage your time with our easy to learn application
</div>

<!-- <div class="splash-flag">
	(write something about how our task creator uses drawings, links, and other details to help you write down you task exactly how you want)
</div>

<div class="splash-flag">
	(flag waving style of logo)
</div> -->

<footer>
	<p>Tikit was made by Aparna and Brian for Rutgers Coding Bootcamp in 2017</p>
	<div class="icons">
		<a href="/"></a>
		<a href="https://github.com/eyeofbri/Project2_Tic-It"></a>
		<a href="https://bootcamp.rutgers.edu/"></a>
	</div>
	<ul class="splash">
	  <li><a href="https://github.com/AparnaThirthapura">Aparna</a></li>
	  <li><a href="https://github.com/eyeofbri">Brian</a></li>
	  <li><a href="/login">Login</a></li>
	  <li><a href="/signup">SignUp</a></li>
	</ul>
</footer>
