<div class="form-holder">

  <div class="imgcontainer">
    <img src="/images/logo.PNG" alt="Avatar" class="avatar">
  </div>

  <h1><!-- title --></h1>

  <form action="/login" method="POST">
    <div class="container">
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <button type="submit">Log in</button>
    </div>
  </form>

</div>


<div class="newUser-holder">
  <div class="newUser">
    <span>New User?</span>
    <a href="/signup">Create an Account</a>
  </div>
</div>