<!-- THE SEARCH MODULE -->
<aside class="search-holder">

  <button class="nav-close fa fa-times fa-3x" type="nav-close"></button>


  <h1><!-- title (css)--></h1>

  <!-- "PLEASE LOG IN" alert (css)-->
  <h4><i class="fa fa-exclamation-circle fa-2x" aria-hidden="true"></i></h4>

  <h3><!-- search label --></h3>

  <div class="search-form-holder">
    <form class="search-form" id="">
      <input class="new-search" placeholder="query" type="text" />
      <button type="submit" class="fa fa-plus-circle fa-3x"></button>
    </form>
  </div>
</aside>
