<div class="form-holder">
  <div class="imgcontainer">
    <img src="/images/logo.png" alt="Avatar" class="avatar">
  </div>
  <h2><!-- title --></h2>
  
  <form action="/signup" method="POST">
      <div class="container">
        <label><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Log in</button>
      </div>
  </form>

</div>

<div class="newUser-holder">
  <div class="newUser">
    <span>Current User?</span>
    <a href="/login">Sign In</a>
  </div>
</div>
