<div class="form-holder">

  <div class="imgcontainer">
    <img src="/images/logo.png" alt="Avatar" class="avatar">
  </div>
  <h2><!-- title --></h2>

  <form action="/signup" method="POST">
      <div class="container">
        <label><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" required>
        <label><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Sign Up</button>
      </div>
  </form>

</div>

<div class="newUser-holder">
  <div class="newUser">
    <span>Current User?</span>
    <a href="/login">Sign In</a>
  </div>
</div>

<footer>
  <p>Tikit was made by Aparna and Brian for Rutgers Coding Bootcamp in 2017</p>
  <div class="icons">
    <a href="/"></a>
    <a href="https://github.com/eyeofbri/Project2_Tic-It"></a>
    <a href="https://bootcamp.rutgers.edu/"></a>
  </div>
  <ul class="splash">
    <li><a href="https://github.com/AparnaThirthapura">Aparna</a></li>
    <li><a href="https://github.com/eyeofbri">Brian</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">SignUp</a></li>
  </ul>
</footer>